body {
	margin: 0;
	width: 100%;
	height: 100%;
}

#container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	font-size: 14px;
	font-family: Roboto, arial, sans-serif;
	color: #222;
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	padding: 15px;
	column-gap: 10px;
}

main {
	display: flex;
	flex-direction: column;
	margin: 8.5em 0;
	justify-items: center;
	position: relative;
	bottom: 8.5em;
}

footer {
	display: flex;
	align-items: center;
	text-align: center;
	padding: 15px;
	column-gap: 10px;
	flex-wrap: wrap;
	margin-top: auto;
	background-color: #f2f2f2;
	color: #70757a;
}

#gmail {
	margin-left: auto;
}

#apps {
	width: 24px;
	height: 24px;
	padding: 8px;
}

#login {
	color: white;
	background-color: #4285f4;
	white-space: nowrap;
	padding: 10px;
	border-radius: 3px;
	font-weight: bold;
	text-align: center;
}

label {
	display: block;
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
}

#search-container {
	display: flex;
	flex-direction: row;
	border-style: solid;
	border-color: #dfe1e5;
	border-width: 1px;
	border-radius: 24px;
	margin: 1em auto;
	width: min(70%, 30rem);
}
#search-icon {
	align-self: center;
	padding-left: 1em;
}
#voice-search {
	align-self: center;
	padding-right: 1em;
	color: #dfe1e5;
}

#search-field {
	border: none;
	outline: none;
	height: 2rem;
	width: 30rem;
	font-size: 14px;
	margin: 0.5em 1em;
}

#search-buttons {
	text-align: center;
}

.button {
	border: 1px solid #fff;
	border-radius: 5px;
	background-color: #f8f9fa;
	padding: 1em;
	font: Roboto, arial, sans-serif;
	color: #222;
	margin: 0 5px;
	border-radius: 4px;
}

#privacy {
	margin-left: auto;
}

@media screen and (max-width: 520px) {
	footer {
		justify-content: center;
	}
	.break {
		flex-basis: 100%;
		height: 0;
	}
	#privacy {
		margin: 0;
	}
}

@media screen and (max-width: 400px) {
	#voice-search {
		display: none;
	}
}

.line:hover {
	text-decoration: underline;
}

#apps:hover {
	display: flex;
	white-space: nowrap;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	padding: 8px;
	background-color: rgba(60, 64, 67, 0.08);
}

#login:hover {
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
}

#search-container:hover {
	box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
	border-color: rgba(223, 225, 229, 0);
}

.button:hover {
	box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
	background-color: #f8f9fa;
	border: 1px solid #dadce0;
	color: #202124;
}
