body {
    margin: 0;
}

#container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10% 80% 10%;
    font-size: 14px;
    font-family: Roboto,arial,sans-serif;
    color: #222;
}

header {
    grid-column: 1 / 8;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(2, auto) 70% repeat(4, auto);
    align-items: center;
}

main {
    grid-column: 1 / 8;
    grid-row: 2 / 3;
    display: grid;
    margin: auto 0;
    justify-items: center;
}

footer {
    grid-column: 1 / 8;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: repeat(3, auto) 50% repeat(3, auto);
    align-items: center;
    background-color: #f2f2f2;
}

#about{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#store{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#gmail{
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

#images{
    grid-column: 5 / 6;
    /* grid-row: 1 / 2 */
}

#apps{
    grid-column: 6 / 7;
    /* grid-row: 1 / 2; */
}

#login{
    grid-column: 7 / 8;
    /* grid-row: 1 / 2; */
}

#search-container{
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-color: #dfe1e5;
    border-width: 1px;
    border-radius: 24px;
}
#search-icon{
    align-self:center;
    padding-left: 1em;
}
#voice-search{
    align-self:center; 
    padding-right: 1em;
    color: #dfe1e5;
}

#search-field{
    width: 30rem;;
    margin: 1em 1em;
}

#search-buttons{
    text-align: center;
}

.button{
    border: none;
    border-radius: 5px;
    background-color: #f8f9fa;
    padding: 1em;
    font: Roboto,arial,sans-serif;
    color: #222;
    margin: 0 5px;
}


#adv{
    grid-column: 1 / 2;
    /* grid-row: 3 / 4; */
}

#business{
    grid-column: 2 / 3;
    /* grid-row: 3 / 4; */
}

#how-to-search{
    grid-column: 3 / 4;
    /* grid-row: 3 / 4; */
}


#privacy{
    grid-column: 5 / 6;
    /* grid-row: 3 / 4; */
}

#terms{
    grid-column: 6 / 7;
    /* grid-row: 3 / 4; */
}

#settings{
    grid-column: 7 / 8;
    /* grid-row: 3 / 4; */
}